* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
  font-size: 17px;
}
.cmn_btn {
  padding: 14px 25px;
  border-radius: 10px;
  background-color: #1d4ed8;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

header {
  background-image:
    linear-gradient(to top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 89vh;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header div {
  text-align: center;
}
header div h1 {
  font-size: 60px;
  color: white;
}
header div p {
  max-width: 700px;
  font-size: 22px;
  padding-top: 10px;
  color: #ffffff;
}
.speaker_section,
.price_section {
  padding: 80px 0;
}
.speaker_section h1 {
  color: black;
  text-align: center;
  font-size: 60px;
}
.speaker_cards {
  padding-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.speaker_card {
  box-shadow: 0px 0px 2px 0px gray;
  border-radius: 5px;
}
.speaker_card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.speaker_card p {
  color: black;
  padding: 5px 0;
}
.speaker_card .tag {
  color: #2563eb;
  padding-top: 20px;
}
.speaker_card .name {
  font-size: 18px;
  font-weight: bold;
}
.speaker_card .position {
  color: #575757;
  padding-bottom: 20px;
}
.speaker_card p {
  padding-left: 10px;
}
.price_section > h1 {
  font-size: 60px;
  text-align: center;
}
.price_section > h1 + p {
  text-align: center;
  color: #575757;
}
.price_cards {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.price_card {
  box-shadow: 0px 0px 2px 0px gray;
  padding: 25px;
  border-radius: 10px;
}
.price_card ul {
  list-style-position: inside;
}
.price_card > p:first-child {
  color: #888888;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 0;
  font-size: 13px;
}
.price_card p:nth-child(2) {
  font-weight: bolder;
  font-size: 35px;
  padding-bottom: 8px;
}
.price_card p:nth-child(3) {
  color: #888888;
}
.price_card .line {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
  margin: 20px 0;
}
.price_card ul {
}
.price_card ul li {
  padding: 10px 0;
  color: #333333;
}
.price_card button {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  color: #2563eb;
  border-color: #2563eb;
  cursor: pointer;
}
.price_card:nth-child(2){
   background-color: #0D1B2A;
   color: white;
}
.price_card:nth-child(2) ul li{
   color: white;
}
.price_card:nth-child(2) button{
   background-color: #2563EB;
   color: white;
}
.job-board{
    padding:100px 0;
    background:#0f172a;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#fff;
    margin-bottom:15px;
}

.section-title p{
    color:#94a3b8;
    max-width:650px;
    margin:auto;
    line-height:1.8;
}

.jobs{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.job-card{
    background:#1e293b;
    border:1px solid #334155;
    border-radius:18px;
    padding:30px;
    transition:.3s;
}

.job-card:hover{
    transform:translateY(-10px);
    border-color:#040133;
    box-shadow:0 15px 35px rgba(37, 2, 97, 0.35);
}

.company{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
}


.company span{
    color:#fff;
    font-size:22px;
    font-weight:700;
}

.job-card h3{
    color:#fff;
    margin-bottom:20px;
}

.job-info p{
    color:#cbd5e1;
    margin-bottom:10px;
}

.job-card a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    background:#7c3aed;
    color:#fff;
    padding:12px 24px;
    border-radius:8px;
    transition:.3s;
}

.job-card a:hover{
    background:#6d28d9;
}

.view-btn{
    display:block;
    margin:60px auto 0;
    padding:16px 35px;
    border:none;
    border-radius:10px;
    background:#7c3aed;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.view-btn:hover{
    background:#6d28d9;
}
.footer{
    background: #123255;
    color: #fff;
    padding: 30px 0;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.logo img{
    width: 140px;
}
.social-links{
    display: flex;
    gap: 18px;
}
.social-links a{
    color:rgb(11, 12, 63);
    font-size: 22px;
}
.footer hr{
    margin:30px 0 20px;
    border:none;
    height:1px;
    background:#4c4c4c;
}
.copyright{
    text-align:center;
    color:#8a8989;
    font-size:15px;
}